# Node modules
node_modules/

# Local development environment
.env

# Log files
logs/

# Build files
build/

# Dependency lock file
yarn.lock
package-lock.json

# IDE/Editor files
.vscode/
.idea/

# Compiled output
dist/

# macOS file metadata
.DS_Store

# Windows thumbnail cache
Thumbs.db
